.wrapper {
    width: 100%;
}

.banner {
    width: 100%;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}

.info {
    width: 100%;
}

.info h2 {
    padding: 30px 30px 20px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #2c6975;
}

.info p {
    padding: 0px 30px 20px;
    line-height: 24px;
}

.comment-section {
    background-image: linear-gradient(to bottom, #2c6975, #68b39f, #cedfcc, #e0ecde);
    padding: 10px 10px 50px 10px;
}

.comments {
    width: 70%;
    /* border: 1px solid #ccc; */
    margin: 50px 0;
    padding: 30px 20px;
    border-radius: 9px;
    margin-left: 15%;
    margin-top: 80px;
    outline: none;
    background: white;

}


.comments h3 {
    text-align: left;
    font-size: 28px;
    color: #2c6975;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

.comments input,
.comments textarea {
    letter-spacing: 2px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    border: 1px solid #68b39f;
    color: #000;
    resize: none;
}

.comments button {
    text-transform: uppercase;
    margin: 10px 0;
    border: none;
    background-color: #68b39f;
    padding: 10px;
    font-size: 18x;
    border-radius: 3px;
    color: white;
    width: 20%;
    transition: 0.5s;
}

.comments button:hover {
    background: #cedfcc;
    color: #68b39f;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

.public-comments {
    padding: 30px 20px;
}

.container {
    width: min(90%, 1140px);
    margin: 3rem auto;
}

.comment-container {
    position: relative;
}

.comment-container::before {
    content: "";
    background: grey;
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}

.comment-container:not(:first-child) {
    margin-left: 3em;
    margin-top: 1em;
}

.comment-card {
    padding: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    min-width: 100%;
}

.comment-card h6,
.comment-card p {
    margin-bottom: 1em;
}

.comment-card .footer {
    display: flex;
    font-size: .05rem;
    opacity: .6;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.edit,
.delete {
    cursor: pointer;
    padding: 10px 15px;
}

@media (max-width: 600px) {
    .comments button {
        width: 50%;
    }

    .comments h3 {
        font-size: 18px;
    }

    #comments input::placeholder,
    #comments textarea::placeholder {
        font-size: 14px;
    }
}